body {
  margin: 0;
  padding: 0 2%;
}

.container {
  min-width: 320px;
  max-width: 900px;
  margin: 0 auto;
  background-color: #efefef;
}

.heading {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  color: rgba(0, 0, 255, 0.5);
  margin-top: 0;
  padding-top: 30px;
}

.heading:hover {
  color: #f00;
  opacity: 1;
}
